<ActionBar [title]="title" class="action-bar" flat="true">
</ActionBar>
<StackLayout class="p-20">
  <Label text="Hello" class="h1 text-center c-white"></Label>
  <Image src="~/assets/images/nx-nativescript.png" class="h-center m-t-20" width="300"></Image>

  <Label [text]="message" class="c-white"></Label>

  <Label [text]="contact?.name?.given" class="c-white"></Label>
  <Label *ngFor="let p of contact?.phoneNumbers" [text]="p.value" class="c-white"></Label>



  <button text="Select Contact" (tap)="selectContact($event)"></button>
  <button text="Send SMS" (tap)="sendQuiteMessage($event)"></button>
</StackLayout>