/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body,
html {
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 100vh !important;
    width: 100vw !important;

}


::-webkit-scrollbar {
    width: 0.3em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}