/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    position: relative;
    display: flex;
    height: 100vh !important;
    width: 100vw !important;
    padding: 0px !important;
    margin: 0px !important;
}


body {
    outline: none;
    display: flex;

    flex-direction: column;
    justify-content: stretch;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 100% !important;
    width: 100% !important;
    border: 3px solid red;
}

ae-root {
    position: relative;
    height: 100%;
}



::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}


.p-menuitem-link {
    border-left: 5px solid transparent;
}

.p-menuitem-link-active {

    border-left: 5px solid royalblue;
}


.th-id {
    width: 100px;
}

.td-id {
    width: 100px;
}