// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-theme: mat.define-light-theme((color: (primary: $web-primary,
                accent: $web-accent,
                warn: $web-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($web-theme);

/* You can add global styles to this file, and also import other style files */


// @import url(~node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/bootstrap4-light-purple/theme.css);
// @import url(~node_modules/primeng/resources/themes/bootstrap4-dark-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/bootstrap4-dark-purple/theme.css);
// @import url(~node_modules/primeng/resources/themes/md-light-indigo/theme.css);
// @import url(~node_modules/primeng/resources/themes/md-light-deeppurple/theme.css);
// @import url(~node_modules/primeng/resources/themes/md-dark-indigo/theme.css);
// @import url(~node_modules/primeng/resources/themes/md-dark-deeppurple/theme.css);
// @import url(~node_modules/primeng/resources/themes/mdc-light-indigo/theme.css);
// @import url(~node_modules/primeng/resources/themes/mdc-light-deeppurple/theme.css);
// @import url(~node_modules/primeng/resources/themes/mdc-dark-indigo/theme.css);
// @import url(~node_modules/primeng/resources/themes/mdc-dark-deeppurple/theme.css);
// @import url(~node_modules/primeng/resources/themes/tailwind-light/theme.css);
// @import url(~node_modules/primeng/resources/themes/fluent-light/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-light-indigo/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-dark-indigo/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-light-purple/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-dark-purple/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-light-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-dark-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-light-teal/theme.css);
// @import url(~node_modules/primeng/resources/themes/lara-dark-teal/theme.css);
// @import url(~node_modules/primeng/resources/themes/saga-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/saga-green/theme.css);
// @import url(~node_modules/primeng/resources/themes/saga-orange/theme.css);
// @import url(~node_modules/primeng/resources/themes/saga-purple/theme.css);
// @import url(~node_modules/primeng/resources/themes/vela-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/vela-green/theme.css);
// @import url(~node_modules/primeng/resources/themes/vela-orange/theme.css);
// @import url(~node_modules/primeng/resources/themes/vela-purple/theme.css);
// @import url(~node_modules/primeng/resources/themes/arya-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/arya-green/theme.css);
// @import url(~node_modules/primeng/resources/themes/arya-orange/theme.css);
// @import url(~node_modules/primeng/resources/themes/arya-purple/theme.css);
// @import url(~node_modules/primeng/resources/themes/nova/theme.css);
// @import url(~node_modules/primeng/resources/themes/nova-alt/theme.css);
// @import url(~node_modules/primeng/resources/themes/nova-accent/theme.css);
// @import url(~node_modules/primeng/resources/themes/luna-amber/theme.css);
// @import url(~node_modules/primeng/resources/themes/luna-blue/theme.css);
// @import url(~node_modules/primeng/resources/themes/luna-green/theme.css);
// @import url(~node_modules/primeng/resources/themes/luna-pink/theme.css);




* {
    box-sizing: border-box !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


// html,
// body {
//     height: 100%;
//     width: 100%;
//     padding: 0px;
//     margin: 0px;
//     position: relative;
// }

::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}