/* You can add global styles to this file, and also import other style files */


// @import url(~primeng/resources/themes/bootstrap4-light-blue/theme.css);
// @import url(~primeng/resources/themes/bootstrap4-light-purple/theme.css);
// @import url(~primeng/resources/themes/bootstrap4-dark-blue/theme.css);
// @import url(~primeng/resources/themes/bootstrap4-dark-purple/theme.css);
// @import url(~primeng/resources/themes/md-light-indigo/theme.css);
// @import url(~primeng/resources/themes/md-light-deeppurple/theme.css);
// @import url(~primeng/resources/themes/md-dark-indigo/theme.css);
// @import url(~primeng/resources/themes/md-dark-deeppurple/theme.css);
// @import url(~primeng/resources/themes/mdc-light-indigo/theme.css);
// @import url(~primeng/resources/themes/mdc-light-deeppurple/theme.css);
// @import url(~primeng/resources/themes/mdc-dark-indigo/theme.css);
// @import url(~primeng/resources/themes/mdc-dark-deeppurple/theme.css);
// @import url(~primeng/resources/themes/tailwind-light/theme.css);
@import url(~primeng/resources/themes/fluent-light/theme.css);
// @import url(~primeng/resources/themes/lara-light-indigo/theme.css);
// @import url(~primeng/resources/themes/lara-dark-indigo/theme.css);
// @import url(~primeng/resources/themes/lara-light-purple/theme.css);
// @import url(~primeng/resources/themes/lara-dark-purple/theme.css);
// @import url(~primeng/resources/themes/lara-light-blue/theme.css);
// @import url(~primeng/resources/themes/lara-dark-blue/theme.css);
// @import url(~primeng/resources/themes/lara-light-teal/theme.css);
// @import url(~primeng/resources/themes/lara-dark-teal/theme.css);
// @import url(~primeng/resources/themes/saga-blue/theme.css);
// @import url(~primeng/resources/themes/saga-green/theme.css);
// @import url(~primeng/resources/themes/saga-orange/theme.css);
// @import url(~primeng/resources/themes/saga-purple/theme.css);
// @import url(~primeng/resources/themes/vela-blue/theme.css);
// @import url(~primeng/resources/themes/vela-green/theme.css);
// @import url(~primeng/resources/themes/vela-orange/theme.css);
// @import url(~primeng/resources/themes/vela-purple/theme.css);
// @import url(~primeng/resources/themes/arya-blue/theme.css);
// @import url(~primeng/resources/themes/arya-green/theme.css);
// @import url(~primeng/resources/themes/arya-orange/theme.css);
// @import url(~primeng/resources/themes/arya-purple/theme.css);
// @import url(~primeng/resources/themes/nova/theme.css);
// @import url(~primeng/resources/themes/nova-alt/theme.css);
// @import url(~primeng/resources/themes/nova-accent/theme.css);
// @import url(~primeng/resources/themes/luna-amber/theme.css);
// @import url(~primeng/resources/themes/luna-blue/theme.css);
// @import url(~primeng/resources/themes/luna-green/theme.css);
// @import url(~primeng/resources/themes/luna-pink/theme.css);
// @import url(~primeng/resources/themes/rhea/theme.css);







* {
    box-sizing: border-box !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    padding: 0px;
    margin: 0px;
}





::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}