<div class="flex flex-column  md:pl-8 md:pr-8  h-full  md:gap-2 ">
    <p-toolbar class="sticky top-0">
        <div class="p-toolbar-group-left">
            <img id="app-logo" src="/assets/icons/icon-72x72.png" i18n-alt alt="Brand Logo" width="40px"
                data-automationId="logo">
        </div>
        <div class="p-toolbar-group-right">
            <div class="p-inputgroup">
                <input class="shadow-2" type="search" role="searchbox" pInputText autocomplete="off" i18n-aria-label
                    aria-label="Search content" placeholder="Search content" (keyup)="search()">

                <button i18n-aria-label aria-label="Search button." pButton class="p-inputgroup-addon shadow-2">
                    <i class="pi pi-search" role="img" i18n-aria-label aria-label="Search Icon"></i>
                </button>
            </div>
        </div>
    </p-toolbar>


    <!-- Main Content -->
    <div class="flex-grow-1 border-1  border-dashed border-round-1xl padding-4 border-teal-200">

        <router-outlet></router-outlet>

    </div>


    <div class="flex flex-column   sticky bottom-0 ">
        <p-toolbar>
            <div class="p-toolbar-group-left gap-3" role="navigation" aria-label="Page Navigation">

                <button pButton i18n-aria-label aria-label="Go to home page." icon="pi pi-home" class="shadow-2"
                    styleClass="p-button-primary"></button>

                <button pButton i18n-aria-label aria-label="Go to service page." icon="pi pi-microsoft" class="shadow-2"
                    styleClass="p-button-primary"> </button>

                <button pButton i18n-aria-label aria-label="Go to product page." icon="pi pi-shopping-cart"
                    class="shadow-2" styleClass="p-button-primary">
                </button>
            </div>

            <div class="p-toolbar-group-right">
                <div class="flex flex-row gap-3">
                    <a href="tel:+1 832 874 24 22" i18n-aria-label aria-label="Call us." pButton aria-label="Contact"
                        icon="pi pi-phone" class="shadow-4  p-button-outlined p-button-success"></a>
                </div>
            </div>
        </p-toolbar>

    </div>
</div>



<p-sidebar [(visible)]="configSidebarDisplay" position="right" styleClass="h-full">



    <div class="relative flex flex-column">


        <p-multiSelect [options]="themes" [(ngModel)]="selectedTheme" [selectionLimit]="1" defaultLabel="Select Theme"
            optionLabel="bundleName" display="chip" (onChange)="updateTheme()"></p-multiSelect>
    </div>




</p-sidebar>

<div
    class="fixed bottom-0 right-0 flex flex-column h-full justify-content-center border-none border-dashed border-left-1  border-teal-200">

    <p-button styleClass="p-button-secondary border-noround shadow-4 border-round-left-xl right-0 bottom-0"
        ariaLabel="Config" icon="pi pi-cog" (click)="configSidebarDisplay = true">
    </p-button>


</div>