<!-- 
    Configuration buttton 
    Navigate to configuration page
    Configuration Sidebar 
    Configuration Content 
 -->
<ng-template #CONFIG_BUTTON>
    <p-button styleClass="p-button-secondary" i18n-ariaLabel ariaLabel="Open configuration page" icon="pi pi-cog"
        (click)="configSidebarDisplay = true" data-automationId="config-button" tooltipPosition="top" i18n-pTooltip
        pTooltip="Open configurations">
    </p-button>
</ng-template>


<!-- 
    Configuration Sidebar

-->
<p-sidebar [(visible)]="configSidebarDisplay" position="right" styleClass="h-full border-2 p-0" i18n-ariaCloseLabel
    i18n-aria-label aria-label="Configuration sidebar" ariaCloseLabel="Close configuration sidebar">

    <div class="relative flex flex-column">
        <p-multiSelect role="combobox" [style]="{width:'100%'}" [options]="themes" [(ngModel)]="selectedTheme"
            i18n-aria-label aria-label="Select theme" defaultLabel="Select theme" i18n-ariaFilterLabel
            ariaFilterLabel="Select theme" optionLabel="bundleName" display="chip" (onChange)="updateTheme()"
            (onFocus)="updateTheme()" [showToggleAll]="false" data-automationId="Select theme"></p-multiSelect>
    </div>
</p-sidebar>



<!-- 
    Chat with agent
    Open chat dialog or go to agent chat page
-->
<ng-template #CHAT_WITH_AGENT>
    <button pButton i18n-aria-label aria-label="Chat with agent." icon="pi pi-comments"
        class="shadow-4  p-button-outlined p-button-success border-noround shadow-4 border-round-left-xl right-0 bottom-0"
        [routerLink]="['chat']" routerLinkActive="router-link-active" tooltipPosition="left" i18n-pTooltip
        pTooltip="Let's chat!"></button>

</ng-template>


<!-- 
    Call us
    
-->
<ng-template #CALL_US_BUTTON>
    <a href="tel:+1 832 874 24 22" role="button" i18n-aria-label aria-label="Call us." pButton icon="pi pi-phone"
        class="shadow-4  p-button-outlined p-button-success border-noround shadow-4 border-round-left-xl right-0 bottom-0"
        i18n-pTooltip tooltipPosition="left" pTooltip="Let's talk!"></a>
</ng-template>


<!-- 
    Brand Logo 
    
-->
<ng-template #BRAND_LOGO>
    <img id="app-logo" src="/assets/icons/icon-72x72.png" i18n-alt alt="Brand Logo" width="50px"
        data-automationId="logo">
</ng-template>



<!-- 
    Search Input Fragment 
    Search through the website 
-->
<ng-template #SEARCH_INPUT>

    <div class="p-inputgroup">
        <input class="shadow-2" type="search" role="searchbox" pInputText autocomplete="off" i18n-aria-label
            aria-label="Search in the content by text or number." i18n-placeholder placeholder="Search for"
            (keyup)="search()">

        <button i18n-aria-label aria-label="Search in content." pButton class="p-inputgroup-addon shadow-2">
            <i class="pi pi-search" role="img" i18n-aria-label aria-label="Search Icon"></i>
        </button>
    </div>

</ng-template>



<!-- 
    Page navigation
    Home, Service, and Product page.
-->
<ng-template #PAGE_NAVIGATION_LINKS>

    <!-- Home page button -->
    <button pButton i18n-aria-label aria-label="Go to profile." icon="pi pi-user" class="shadow-2" tooltipPosition="top"
        pTooltip="Profile" [routerLink]="['profile']"></button>

    <!-- Servie page button -->
    <button pButton i18n-aria-label aria-label="Go to projects." icon="pi pi-microsoft" class="shadow-2"
        tooltipPosition="top" pTooltip="Projects" [routerLink]="['projects']"> </button>

    <!-- Product page button -->
    <button pButton i18n-aria-label aria-label="Go to skills." icon="pi pi-star-fill" class="shadow-2"
        tooltipPosition="top" pTooltip="Skills" [routerLink]="['skills']">
    </button>




</ng-template>



<!-- 
    Profile links 

 -->

<ng-template #PROFILE_LINKS>

    <a i18n-aria-label aria-label="GitHub profile" href="https://github.com/AHMET-EMREBAS/ahmet-emrebas.github.io"
        target="_blank" pButton icon="pi pi-github" class="bg-gray-900 p-button-secondary" pTooltip="GitHub"
        tooltipPosition="bottom"></a>

    <a i18n-aria-label aria-label="LinkedIn profile" href="https://www.linkedin.com/in/ahmet-emrebas-280185248/"
        target="_blank" pButton icon="pi pi-linkedin" class="bg-blue-600 p-button-secondary" pTooltip="LinkedIn"
        tooltipPosition="bottom"></a>


</ng-template>



<!-- 
    Main Container
    Flex column 
    Mobile responsive
-->
<div class="flex flex-column  md:pl-8 md:pr-8  h-full  md:gap-2 ">

    <p-toolbar class="sticky top-0">

        <!-- 
            Left
         -->
        <div class="p-toolbar-group-left">
            <ng-container *ngTemplateOutlet="BRAND_LOGO"></ng-container>
        </div>

        <!-- 
            Right
         -->
        <div class="p-toolbar-group-right gap-2">
            <ng-container *ngTemplateOutlet="PROFILE_LINKS"></ng-container>

        </div>
    </p-toolbar>


    <!-- 
        Main Content
        
    -->
    <div class="flex-grow-1 border-1  border-dashed border-round-1xl padding-4 border-teal-200">
        <!-- Router content -->
        <router-outlet></router-outlet>
    </div>


    <!-- 
        Menu Items

     -->
    <div class="flex flex-column   sticky bottom-0 ">
        <p-toolbar>

            <!-- 
                Left
            -->
            <div class="p-toolbar-group-left gap-3">

                <ng-container *ngTemplateOutlet="PAGE_NAVIGATION_LINKS"></ng-container>

            </div>

            <!-- 
                Right
              -->
            <div class="p-toolbar-group-right">
                <ng-container *ngTemplateOutlet="CONFIG_BUTTON"></ng-container>
            </div>

        </p-toolbar>

    </div>
</div>






<!-- 
    Fiexed right side container for quciky links
-->
<div class="fixed flex flex-column" [style]="{top:'100px', right:'0px' }">

    <div class="flex flex-column gap-3">

        <ng-container *ngTemplateOutlet="CHAT_WITH_AGENT"></ng-container>
        <ng-container *ngTemplateOutlet="CALL_US_BUTTON"></ng-container>
    </div>

</div>