<div class="main-container flex flex-column gap-2  justify-content-between">

    <p-menubar class="sticky-top">
        <ng-template pTemplate="start">
            <img src="assets/icons/icon-72x72.png" height="40" class="mr-2" />
        </ng-template>

        <ng-template pTemplate="end">

            <div class="p-inputgroup">

                <input #searchInput type="search" id="search" pInputText placeholder="Search">
                <button name="search" aria-roledescription="Search button" pButton class="p-inputgroup-addon"
                    (click)="search(searchInput)">
                    <i class="pi pi-search"></i>
                </button>
            </div>
        </ng-template>
    </p-menubar>

    <div class="main-container flex flex-row  gap-2   ">



        <p-menu [model]="resourcesMenu"></p-menu>

        <div class="router-container flex flex-column gap-2 flex-grow-1  ">

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>

            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>
            <p-card header="Card Header ">
                <router-outlet></router-outlet>
            </p-card>



        </div>

        <p-menu [model]="resourcesMenu"></p-menu>
    </div>

    <p-toolbar class="sticky-bottom"></p-toolbar>

</div>